body {
  margin: 0;
  font-family: 'Merienda', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Merienda'
}

.header {
  &__nav {
    position: absolute;
    top: 30px;
    left: 150px;
  }

  .main {
    min-height: 640px;
    background: url(./img/bg/desk-bg.png) center (center / cover) no-repeat;
    padding: 180px 0 200px 0;

    &_header {
      font-weight: 700;
      font-size: 40px;
      line-height: 0px;
      text-align: center;
      color: #FFFFFF;
    }

    &_subheader {
      margin-top: 20px;
      font-size: 24px;
      text-align: center;
      color: #fff;
    }

    &_logo {
      display: flex;
      justify-content: space-between;
      margin: 35px auto 30px auto;
      width: 200px;
      height: 30px;

      &_divider {
        margin-top: 16px;
        width: 60px;
        height: 1px;
        background: #fff;

      }
    }

    &_button {
      display: block;
      margin: 18px auto 0 auto;
      border: 1px solid #fff;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      width: 120px;
      height: 30px;
      font-family: 'Merienda';
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    width: 355px;
    height: 40px;
    list-style-type: none;

    li {
      .logo_img {
        position: absolute;
        top: 48px;
        left: 45px;

        img {
          position: absolute;
          left: -36px;
          top: -48px;
        }
      }
    }

    span {
      text-decoration: none;
      font-size: 13px;
      line-height: 17px;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transition: all .2s;


    }
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0px auto;
  width: 200px;
  height: 30px;

  &_divider {
    margin-top: 16px;
    width: 60px;
    height: 1px;
    background: #000;
  }
}

.about {
  padding-top: 80px;
  min-height: 520px;

  &__subheader {
    margin: 0;
    font-size: 24px;
    text-align: center;
  }

  &__descr {
    display: block;
    margin: 40px auto 100px auto;
    width: 590px;
    height: 222px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.best {
  padding: 80px 0 110px 0;
  min-height: 495px;
  background: url(./img/bg/desk-bg-2.png) center center/cover no-repeat;

  &__subheader {
    text-align: center;
    margin: 0;
  }

  &__all-products {
    width: 800px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;

  }
}

.footer {
  min-width: 150px;
  padding: 30px 0 20px 0;

  .footer-nav-wrraper {
    display: flex;
    justify-content: center;

  }

  &__nav {
    position: absolute;

    span {
      color: #000;
    }
  }

  &__logo {
    margin-top: 70px;
  }
}
