body {
  margin: 0;
  font-family: 'Merienda', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 1440px;
}

header {
  min-height: 640px;
  background: url(./img/bg/desk-bg.png) center (center / cover) no-repeat;
  padding: 180px 0 200px 0;

  .main {
    &_header {
      font-weight: 700;
      font-size: 40px;
      line-height: 58px;
      color: #FFFFFF;
    }
  
  }
  
}
