body {
  margin: 0;
  font-family: 'Merienda', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  width: 1440px;
}

header {
  min-height: 640px;
  background: url(./img/bg/desk-bg.png) center (center / cover) no-repeat;
  padding: 180px 0 200px 0;

  .main {
    &_header {
      font-weight: 700;
      font-size: 40px;
      line-height: 0px;
      text-align: center;
      color: #FFFFFF;
    }

    &_subheader {
      margin-top: 20px;
      font-size: 24px;
      text-align: center;

      color: #fff;
    }

    &_logo {
      display: flex;
      justify-content: space-between;
      margin: 35px auto 30px auto;
      width: 200px;
      height: 30px;

      &_divider {
        margin-top: 16px;
        width: 60px;
        height: 1px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

// .nav_main {
//   position: relative;
//   top: 30px;
// }

nav {
  position: absolute;
  top: 30px;
  left: 150px;

  ul {
    display: flex;
    justify-content: space-between;
    width: 355px;
    height: 40px;
    list-style-type: none;

    li {
      .logo_img {
        position: absolute;
        top: 48px;
        left: 45px;

        img {
          position: absolute;
          left: -36px;
          top: -48px;
        }
      }
    }

    a {
      text-decoration: none;
      font-size: 12px;
      line-height: 17px;
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }


}
